/* HEADER STYLE
*/


body { 
  margin: 0;
  font-family: Arial;
}



.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 

  border-radius: 4px;
}
@media screen and (min-width: 600px) {
	.header a.logo {
  width: 75%;
  height: 75%;
}
}

@media screen and (max-width: 600px) {
	.header a.logo {
  width: 100%;
  height: 100%;
}
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* panel de dialogo */
#dialog-message {
	display: none;
}
#dialog {
	display: none;
}
/*Elecmentos indiduales
*/

#encabezado {
	width: 50%;
	height: 50%;
}
#footer, #titulo {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
}
.panel-heading, .panel-info {
	text-align: center;
}
.panel-primary{
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (min-width: 600px) {
   .btnbox {
    display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
  }
}

@media screen and (min-width: 1000px) {
   .btnbox {
    display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
   .btnbox {
    display: block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
  }
}
.btn-toolbar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	margin-bottom: 5px;
}

#panel-acuerdo {
	text-align: justify;
}

@media screen and (min-width: 800px) {
	.form-group {
	display: block;
	width: 83%;
	margin-left: auto;
	margin-right: auto;
	}
}
@media screen and (max-width: 800px) {
	.form-group {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	}
}

@media screen and (min-width: 800px) {
	.panel-default {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	}
}
@media screen and (max-width: 800px) {
	.panel-default {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	}
}

.key {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
	margin-top: 1px;
}
#inside {
	width: 50px;
	height: 50px;
	}
#mainModule {
	text-align: center;

}

.btn-toolbar{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
#box {
	border-style: dotted;
	border-width: 5px;
	background: #48FFF7;
  	height: 100px;
  	width: 100px;
  	display: inline-block;
}
@media screen and (max-width: 400px) {
	#box {
	border-style: dotted;
	border-width: 5px;
	background: #48FFF7;
  	height: 60px;
  	width: 60px;
  	display: inline-block;
}
}
#all {
	padding-right: 5px;
	padding-left: 5px;
}

/* FORM VALIDATOR */

#message {
    display:none;
    position: relative;
}

#message p {
    padding-left: 30px;
    font-size: 14px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}


#abajo {
    position: fixed;
	bottom: 4px;
    right: 1px;
    width: 90%;
    background: white;
    opacity: 0.5;


}



/*@media screen and (min-width: 764px) {
#siguiente, #atras {
	display: inline;
	height: 50px;
	width: 25px;
	background-color: yellow;
	padding: 4px;
}
}

@media screen and (max-width: 763px) and (min-width: 392px){
#siguiente, #atras {
	display: inline;
	height: 100px;
	width: 25px;
	padding: 2px;
	background-color: yellow;
}
}
@media screen and (max-width: 391px){
#siguiente, #atras {
	display: inline;
	height: 150px;
	width: 25px;
	background-color: yellow;
	padding: 4px;
}
}*/
  


#keyboard {
	display: inline-block;
	width: 75%;
	height: auto;

}
#alado{
	display: block;
	font-size: 0;


}

#siguiente, #atras {
	display: inline-block;
	background-color: yellow;
	height: inherit;
	width: 25px;



}
