<div class="header">
  <a href="#default" class="logo"><img id="encabezado" src="static/encabezado.png"></a>
  <div class="header-right">
    <a class="active" href="index.php">Inicio</a>
    <a href="mailto:crduarte@fctunca.edu.py">Contacto</a>
    <a href="https://www.instagram.com/cristhian_d77/">Acerca de mi</a>
  </div>
</div>

<div style="padding-left:20px">
  <h3>Proyecto Final de Grado</h3>
  <p>Ventajas de la utilización de un sistema de contraseñas basado en imágenes y Drag & Drop frente a las contraseñas convencionales</p>
</div>